In [1]:
from ohou_crawl import *
import urllib3

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [4]:
oh = crawl_ohou()

In [6]:
# type: ("feeds", "advices", "projects")
oh_ap = oh.run(query = "LG 공기청정기", type = "feeds", num_request = None)

query : LG 공기청정기, total_count : 4259, num_request : None
Elapsed time : 0:00:13.902673

In [255]:
url = "https://ohou.se/cards/feed.json"
headers = {"user-agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
FLAG = True
page = 1
rq_list = []
while FLAG:
    if page % 100 == 0:
        print(page)
    params = {'page' : page, "per" : 100, "v" : 4, "order" : "recent"}
    rq = requests.get(url, params = params, headers = headers, verify = False)
    rq_list.append(rq)
    page += 1

    if rq.json()["next"] == True:
        FLAG = True
    else:
        FLAG = False

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100

In [256]:
cards_list = []
for x in rq_list:
     cards_list.extend(x.json().get("cards"))

cards_df = pd.DataFrame(cards_list)     
cards_df["user_id"] = cards_df["user"].apply(lambda x: x.get("id"))
cards_df["nickname"] = cards_df["user"].apply(lambda x: x.get("nickname"))
cards_df["card_collection_id"] = cards_df["card_collection"].apply(lambda x: x.get("id") if pd.isna(x) == False else None) 
cards_df["card_collection_created_at"] = cards_df["card_collection"].apply(lambda x: x.get("created_at") if pd.isna(x) == False else None) 
cards_df["image_url"] = cards_df["image"].apply(lambda x: x.get("url"))

In [257]:
cards_df = pd.DataFrame(cards_list)

In [260]:
cards_df["user_id"] = cards_df["user"].apply(lambda x: x.get("id"))
cards_df["nickname"] = cards_df["user"].apply(lambda x: x.get("nickname"))
cards_df["card_collection_id"] = cards_df["card_collection"].apply(lambda x: x.get("id") if pd.isna(x) == False else None) 
cards_df["card_collection_created_at"] = cards_df["card_collection"].apply(lambda x: x.get("created_at") if pd.isna(x) == False else None) 
cards_df["image_url"] = cards_df["image"].apply(lambda x: x.get("url"))

In [258]:
cards_df.to_parquet("cards_df_recent_2230920.parquet")

In [ ]:
cards_df.head()

In [76]:
url = "https://ohou.se/projects.json"
headers = {"user-agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
FLAG = True
page = 1
project_rq_list = []
while FLAG:
    if page % 100 == 0:
        print(page)
    params = {"order": "recent", 'page' : page, "per" : 100, "v" : 4}
    rq = requests.get(url, params = params, headers = headers, verify = False)
    project_rq_list.append(rq)
    page += 1

    if rq.json()["next"] == True:
        FLAG = True
    else:
        FLAG = False

In [80]:
projects_list = []
for x in project_rq_list:
     projects_list.extend(x.json().get("projects"))

In [81]:
projects_df = pd.DataFrame(projects_list)

In [83]:
projects_df.to_parquet("projects_df_239020.parquet")

In [ ]:
url = "https://ohou.se/advices.json"
headers = {"user-agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
FLAG = True
page = 1
advices_rq_list = []
while FLAG:
    if page % 100 == 0:
        print(page)
    params = {"order": "recent", 'page' : page, "per" : 100, "v" : 4}
    rq = requests.get(url, params = params, headers = headers, verify = False)
    advices_rq_list.append(rq)
    page += 1

    # if len(rq.json()["advices"]) == 100:
    #     FLAG = True
    # else:
    #     FLAG = False

In [4]:
advices_list = []
for x in advices_rq_list:
     advices_list.extend(x.json().get("advices"))

In [5]:
advices_df = pd.DataFrame(advices_list)

In [6]:
advices_df.to_parquet("advices_df_230920.parquet")

In [112]:
url = "https://ohou.se/document/interior3ds"
headers = {"user-agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
FLAG = True
page = 1
pageToken = None
interior3ds_rq_list = []
while FLAG:
    if page % 100 == 0:
        print(page)
    params = {"order": "recent", 'pageToken' : pageToken, "size" :size}
    rq = requests.get(url, params = params, headers = headers, verify = False)
    interior3ds_rq_list.append(rq)
    page += 1

    if rq.json().get("nextPageToken") is not None :
        FLAG = True
        pageToken = rq.json().get("nextPageToken")
    else:
        FLAG = False

In [113]:
interior3ds_list = []
for x in interior3ds_rq_list:
     interior3ds_list.extend(x.json().get("interior3ds"))
interior3ds_df = pd.DataFrame(interior3ds_list)

In [ ]:
projects_df["types"] = "projects"
card_collection_df["types"] = "card_collection"

In [254]:
cards_df.drop_duplicates("id").shape # 148883

(134524, 28)

In [2]:
cards_df = pd.read_parquet("cards_df_recent_230920.parquet")
projects_df = pd.read_parquet("projects_df_239020.parquet")
advices_df = pd.read_parquet("advices_df_230920.parquet")

In [3]:
cards_df["user_id"] = cards_df["user"].apply(lambda x: x.get("id"))
cards_df["nickname"] = cards_df["user"].apply(lambda x: x.get("nickname"))
cards_df["card_collection_id"] = cards_df["card_collection"].apply(lambda x: x.get("id") if pd.isna(x) == False else None) 
cards_df["card_collection_created_at"] = cards_df["card_collection"].apply(lambda x: x.get("created_at") if pd.isna(x) == False else None) 
cards_df["image_url"] = cards_df["image"].apply(lambda x: x.get("url"))

In [4]:
advices_df["user_id"] = advices_df["user"].apply(lambda x: x.get("id"))
advices_df["nickname"] = advices_df["user"].apply(lambda x: x.get("nickname"))
advices_df["created_at"] = pd.to_datetime(advices_df["created_at"].str.replace(r"년\s?|월\s?","-").str.replace(r"일\s?", ""))

/tmp/ipykernel_2040/1035034776.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  advices_df["created_at"] = pd.to_datetime(advices_df["created_at"].str.replace(r"년\s?|월\s?","-").str.replace(r"일\s?", ""))

In [5]:
projects_temp = projects_df[["id", "user_id", "nickname", "created_at"]].drop_duplicates("id")
projects_temp['type'] = "projects"

card_collection_temp = cards_df.loc[cards_df["card_collection_id"].isna() == False, ["card_collection_id", "user_id", "nickname", "card_collection_created_at"]].drop_duplicates("card_collection_id")
card_collection_temp['type'] = "card_collection"
card_collection_temp.rename(columns = {"card_collection_id" : "id",
                                       "card_collection_created_at" : "created_at"},inplace = True)

advices_temp = advices_df[["id", "user_id", "nickname", "created_at"]].drop_duplicates("id")
advices_temp['type'] = "advices"

In [33]:
cards_df["type"].value_counts()

CardImage    475701
CardVideo     11406
Name: type, dtype: int64

In [32]:
card_collection_temp.loc[card_collection_temp["id"]== 7999319.0]

Empty DataFrame
Columns: [id, user_id, nickname, created_at, type]
Index: []

In [30]:
card_collection_temp.sort_values("created_at")

,id,user_id,nickname,created_at,type
124957,416233.0,59791,미소디자인,2019-01-29T10:50:23.000+09:00,card_collection
124967,416236.0,59791,미소디자인,2019-01-29T10:52:20.000+09:00,card_collection
124972,416238.0,59791,미소디자인,2019-01-29T10:54:55.000+09:00,card_collection
124977,418275.0,59791,미소디자인,2019-01-30T09:35:16.000+09:00,card_collection
293374,418279.0,59791,미소디자인,2019-01-30T09:38:15.000+09:00,card_collection
...,...,...,...,...,...
8,21792946.0,20790215,사기스탑경찰신고,2023-09-20T15:57:58.000+09:00,card_collection
7,21792955.0,12592891,잠드는별,2023-09-20T15:58:43.000+09:00,card_collection
6,21792974.0,17653612,둘별똘,2023-09-20T16:00:23.000+09:00,card_collection
1,21792988.0,15451841,minimal_lub,2023-09-20T16:01:49.000+09:00,card_collection
0,21792998.0,5604879,이케아행주,2023-09-20T16:02:13.000+09:00,card_collection

In [6]:
ohou_contents = pd.concat([projects_temp,
           card_collection_temp,
           advices_temp], axis = 0)

In [7]:
ohou_contents["created_at"] = pd.to_datetime(ohou_contents["created_at"])

In [8]:
ohou_contents["year"] = ohou_contents["created_at"].dt.year

In [9]:
contents_count = ohou_contents.groupby(["year", "type"]).size().to_frame("count").reset_index()
user_count = ohou_contents.groupby(["year", "type"])["user_id"].nunique().to_frame("unique_user_count").reset_index()

contents_summary = pd.merge(contents_count, user_count, on = ["year", "type"])
contents_summary["average_user_contents_count"] = contents_summary["count"] / contents_summary["unique_user_count"]
contents_summary

,year,type,count,unique_user_count,average_user_contents_count
0,2014,projects,39,28,1.392857
1,2015,advices,141,37,3.810811
2,2015,projects,379,244,1.553279
3,2016,advices,749,84,8.916667
4,2016,projects,305,220,1.386364
5,2017,advices,143,33,4.333333
6,2017,projects,348,311,1.118971
7,2018,advices,198,25,7.920000
8,2018,projects,508,492,1.032520
9,2019,advices,498,69,7.217391
10,2019,card_collection,13,4,3.250000
11,2019,projects,1233,1202,1.025790
12,2020,advices,540,213,2.535211
13,2020,card_collection,10,10,1.000000
14,2020,projects,1338,1216,1.100329
15,2021,advices,879,451,1.949002
16,2021,card_collection,23,21,1.095238
17,2021,projects,1700,1478,1.150203
18,2022,advices,1880,724,2.596685
19,2022,card_collection,67,50,1.340000
20,2022,projects,2008,1869,1.074371
21,2023,advices,1143,212,5.391509
22,2023,card_collection,210168,77776,2.702222
23,2023,projects,1298,1297,1.000771

In [ ]:
ohou_contents.groupby(["year","user_id"]).size

In [ ]:
ohou_contents.groupby(["year", "type"]).size().to_frame("count").reset_index()

    year             type  count
0   2014         projects     39
1   2015          advices    141
2   2015         projects    379
3   2016          advices    749
4   2016         projects    305
5   2017          advices    143
6   2017         projects    348
7   2018          advices    198
8   2018         projects    508
9   2019          advices    498
10  2019  card_collection      9
11  2019         projects   1233
12  2020          advices    540
13  2020  card_collection      4
14  2020         projects   1338
15  2021          advices    879
16  2021  card_collection     16
17  2021         projects   1700
18  2022          advices   1880
19  2022  card_collection     39
20  2022         projects   2008
21  2023          advices   1142
22  2023  card_collection  57893
23  2023         projects   1298

In [218]:
cards_df["card_collection_id"] = cards_df["card_collection"].apply(lambda x: x.get("id") if pd.isna(x) == False else None) 
cards_df["card_collection_created_at"] = cards_df["card_collection"].apply(lambda x: x.get("created_at") if pd.isna(x) == False else None) 
cards_df["image_url"] = cards_df["image"].apply(lambda x: x.get("url"))

In [225]:
cards_df.loc[cards_df["card_collection"].isna() == False].card_collection_created_at.min()

'2019-01-29T10:50:23.000+09:00'

In [220]:
cards_df.loc[cards_df["created_at"] != cards_df["card_collection_created_at"], ["created_at", "card_collection_created_at"]]

                           created_at     card_collection_created_at
1       2023-08-28T02:48:16.000+09:00                           None
2       2023-08-28T02:48:16.000+09:00                           None
5       2023-08-28T11:19:48.000+09:00                           None
6       2023-08-27T09:57:10.000+09:00                           None
7       2023-08-28T02:48:16.000+09:00                           None
...                               ...                            ...
148639  2023-06-29T22:39:59.000+09:00  2023-06-21T09:53:49.000+09:00
148640  2023-06-29T22:39:59.000+09:00  2023-06-21T09:53:49.000+09:00
148720  2023-06-28T23:58:55.000+09:00  2023-06-28T23:20:16.000+09:00
148746  2023-06-28T23:53:21.000+09:00  2023-06-28T23:49:40.000+09:00
148852  2023-06-20T18:03:08.000+09:00  2023-06-20T17:57:29.000+09:00

[13060 rows x 2 columns]

In [12]:
cards_df.shape

(487107, 28)

In [ ]:
cards_df["created_at"].min()

In [24]:
cards_df["cc_created_at"] = cards_df["card_collection_created_at"].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [20]:
gr = pd.Grouper(key = "card_collection_created_at", freq = "Y")
cards_df.loc[~cards_df["card_collection_created_at"].isna()].groupby(gr).size()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [17]:
cards_df["card_collection_created_at"].fillna("99999").min()

'2019-01-29T10:50:23.000+09:00'

In [10]:
cards_df.loc[cards_df["id"] == 9693346,]

Empty DataFrame
Columns: [id, type, description, image, source, reply_count, scrap_count, like_count, view_count, share_count, place, style, title, created_at, is_hidden, is_scrap, is_liked, video, keywords, hashtags, user, card_collection, tags, user_id, nickname, card_collection_id, card_collection_created_at, image_url]
Index: []

[0 rows x 28 columns]

In [217]:
cards_df.loc[cards_df["card_collection_id"] == 21393179, "card_collection"].to_list()[0]

{'id': 21393179,
 'on_hide': False,
 'card_count': 1,
 'like_count': 13,
 'scrap_count': 63,
 'share_count': 11,
 'reply_count': 5,
 'view_count': 5324,
 'total_like_count': 14,
 'total_scrap_count': 98,
 'total_share_count': 11,
 'total_reply_count': 5,
 'total_view_count': 9007,
 'first_image_url': 'https://bucketplace-v2-development.s3.amazonaws.com/uploads/cards/snapshots/169271107396835163.jpeg',
 'created_at': '2023-08-22T22:31:14.000+09:00',
 'size': {'label': '10평 미만', 'value': 0},
 'residence': {'label': '원룸&오피스텔', 'value': 0},
 'style': {'label': '', 'value': None},
 'is_hidden': False,
 'is_scrap': False,
 'is_liked': False,
 'content_ads': None}

In [151]:
cards_df["image_url"] = cards_df["image"].apply(lambda x: x.get("url"))

In [161]:
cards_df["card_collection_id"].value_counts()

21090116.0    40
21090180.0    40
21020579.0    40
21090025.0    35
21020421.0    32
              ..
21411069.0     1
21411024.0     1
21411017.0     1
21411016.0     1
21350584.0     1
Name: card_collection_id, Length: 57961, dtype: int64

In [162]:
cards_df.loc[cards_df["card_collection_id"]== 21411017]

,id,type,description,image,source,reply_count,scrap_count,like_count,view_count,share_count,...,is_scrap,is_liked,video,keywords,hashtags,user,card_collection,tags,card_collection_id,image_url
58978,26552882,CardImage,,{'url': 'https://bucketplace-v2-development.s3...,None,0,0,0,4,0,...,False,False,None,[],None,"{'id': 3930694, 'nickname': ' 곤쥬', 'userable_t...","{'id': 21411017, 'on_hide': False, 'card_count...",[],21411017.0,https://bucketplace-v2-development.s3.amazonaw...

In [164]:
card_collection_df = cards_df.loc[cards_df["card_collection_id"].isna() == False, ["card_collection_id", "user"]]

In [167]:
cards_df.columns

Index(['id', 'type', 'description', 'image', 'source', 'reply_count',
       'scrap_count', 'like_count', 'view_count', 'share_count', 'place',
       'style', 'title', 'created_at', 'is_hidden', 'is_scrap', 'is_liked',
       'video', 'keywords', 'hashtags', 'user', 'card_collection', 'tags',
       'card_collection_id', 'image_url'],
      dtype='object')